body {
  padding: 20px 80px;
  font-family: "Verdana", sans-serif;
  max-width: 1000px;
}

.intro {
  width: 1000px;
}

#defaultCanvas0 {
}
.tweet {
  margin: auto;
  width: 600px;
  padding: 20px;
  background-color: white;
  border: medium solid blue;
}    

