body {
  padding: 20px 80px;
  font-family: "Karla", sans-serif;
  max-width: 1000px;
  font-size: 18px;

}

a {
  color: rgb(90,126,202);
}

.intro {
  width: 1000px;
  padding: 20px;
}

.head {
  font-size: 40px;
  text-align: center;
  color: rgb(90,126,202);
  font-weight: 200;
}

.head span {
  color: rgb(204,153,162);
}

.search {
  margin: auto;
  width: 750px;
  font-size: 30px;
}

select {
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  margin-right: 15px;
  margin-top: 10px;
}

button {

  background-color: rgb(121,121,119);
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 25px;

}
#defaultCanvas0 {
}
.tweet {
  margin: auto;
  background-color: white;
  width: 600px;
  padding: 20px;
  font-size: 20px;
  border: 10px dashed rgb(204,153,162);
}    

.about {
  background-color: rgba(131,150,131, .5);
  padding: 10px;
  border-radius: 5px;
  width: 500px;
}

.emScale {
  background-color: rgba(221,188,147, .5);
  padding: 10px;
  border-radius: 5px;
  width: 500px;
}
.topic {
  background-color: rgba(200,80,147, .5);
  padding: 10px;
  border-radius: 5px;
  width: 500px;
  height: 500px;
}
